.header__lang-link {
    color: white;
    margin-right: 18px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.17;
}

.header__lang-link:hover {
    opacity: 0.8;
    transition: opacity .5s linear 0s;
}

@media screen and (max-width: 425px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 1.33;
    }
}