.place__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 1.05;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 32px;
        line-height: 1.09;
        width: 90%;
        margin: 0 auto;
        text-align: left;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 1.09;  
        margin: 0;
    }
}

