.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, calc((100% - 16px*3)/4));
    grid-template-rows: repeat(3, 213px);
    gap: 16px;
    margin: 92px auto 0 auto;
    max-width: 1184px;
    box-sizing: border-box;
}

@media (max-width: 425px) {
    .photo-grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(12, auto);
        gap: 12px;
        margin: 92px auto 0 auto;
        width: 90%;
    }
}

@media (min-width: 425px) and (max-width: 1024px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(2, calc((100% - 16px)/2));
        grid-template-rows: repeat(6, auto);
        gap: 16px;
        margin: 92px auto 0 auto;
        max-width: 720px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(3, calc((100% - 14px*2)/3));
        grid-template-rows: repeat(4, auto);
        gap: 14px;
        margin: 92px auto 0 auto;
        max-width: 928px;
    }
}