.places {
    margin: 92px auto;
    max-width: 984px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 425px) {
    .places {
        margin: 64px auto;
        width: 100%;
    }
}