.lead {
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .lead {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead {
        max-width: calc(100% - 48px*2);
    }
}