.cover__subtitle {
    margin: 0 auto;
    max-width: 360px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 425px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
    }
}