.header {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    max-width: 1184px;
    width: calc(100% - 48px*2);
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .header {
        width: calc(100% - 16px*2);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        width: calc(100% - 24px*2);
    }
}