.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    max-width: 720px;
    margin: 0 auto 30px auto;
    margin-top: 56px;
}

@media screen and (max-width: 767px) {
    .lead__title {
        width: 90%;
        font-size: 40px;
        line-height: 1.1;
    }   
}

@media screen and (max-width: 1280px) {
    .lead__title {
        margin-top: 48px;
    }
}