.place__paragraph {
    margin: 0;
    margin-bottom: 24px;
    font-size: 18px;
    font-style: normal;
    line-height: 29.34px;
    font-weight: normal;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        width: 90%;
        margin: 0 auto 24px;
    }
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        font-size: 16px;
    }
}