.intro {
    max-width: 690px;
    margin: 92px auto 0 148px;
}

@media screen and (max-width: 768px) {
    .intro {
        margin: 64px auto 0;
        max-width: calc(100% - 2*16px);
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .intro {
        margin: 88px auto 0;
        max-width: calc(100% - 2*24px);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .intro {
        margin: 92px auto 0 48px;
    }
}
