.lead__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    max-width: 640px;
    margin: 0 auto 64px auto;
    text-align: center;
}

@media (max-width: 768px) {
    .lead__subtitle {
        width: 90%;
        font-size: 16px;
        line-height: 1.25;
    }   
}