.lead__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
    margin: 0 auto 64px auto;
    text-align: center;
}

@media (min-width: 425px) and (max-width: 768px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
    }   
}

@media (max-width: 425px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
    }   
}