.place__link {
    color: white;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    text-decoration-line: underline;
}

.place__link:hover {
    opacity: 0.8;
    transition: opacity .5s linear 0s;;
}