.cover__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(42, 44, 47, 0.3);
    text-decoration: none;
    color: white;
}

.cover__overlay:hover {
    background-color: rgba(42, 44, 47, 0.8);
}