.cover__background {
    background-image: url(../../../images/cover-background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    padding-bottom: 62.5%;
    display: flex;
    flex-direction: column;
}