.cover__title {
    margin: 0 auto;
    max-width: 560px;
    text-align: center;
    font-size: 72px;
    line-height: 1.06;
    margin-bottom: 32px;
    margin-top: 245px;
}

@media screen and (max-width: 768px) {
    .cover__title {
        margin-bottom: 16px;
        margin-top: 33px;
        font-size: 32px;
        line-height: 1.09;
        max-width: 288px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .cover__title {
        margin-top: 115px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .cover__title {
        margin-top: 195px;
    }
}