.cover__title {
    margin: 0 auto;
    max-width: 560px;
    text-align: center;
    font-size: 72px;
    line-height: 1.06;
    font-weight: 900;
    margin-bottom: 32px;
    margin-top: 245px;
}

@media screen and (max-width: 425px) {
    .cover__title {
        margin-bottom: 16px;
        margin-top: 10.31%;
        font-size: 32px;
        line-height: 1.09;
        width: 90%;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .cover__title {
        margin-top: 15%;
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 1.09;
        width: 90%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .cover__title {
        margin-top: 15%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .cover__title {
        margin-top: 195px;
    }
}