.place {
    width: 100%;
    display: grid;
    column-gap: 40px;
    row-gap: 48px;
    grid-template-columns: min-content auto;
    grid-template-rows: auto auto;
    margin: 0 auto;
    grid-auto-flow: row;
    margin-bottom: 80px;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
    .place {
        grid-template-columns: min-content auto;
        column-gap: 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        margin-bottom: 72px;
        column-gap: 28px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-auto-flow: column;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, min-content);
        margin-bottom: 48px;
        row-gap: 32px;
    }
}