.footer {
    display: flex;
    justify-content: space-between;
    width: 92.5%;
    margin: 0 auto;
    padding-bottom: 24px;
    margin-top: 92px;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        width: 57%;
        margin-left: 16px;
        margin-top: 64px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .footer {
        max-width: 93.75%;
        margin-top: 88px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .footer {
        width: 90.62%;
    }
}

