.footer {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 48px*2);
    margin: 0 auto;
    padding-bottom: 24px;
    margin-top: 92px;
    max-width: 1184px;
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        width: 57%;
        margin-left: 16px;
        margin-top: 64px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        width: calc(100% - 24px*2);
        margin-top: 88px;
    }
}