.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-column: 2;
    grid-row: 1;
}


@media (max-width: 425px) {
    .place__website {
        display: none;
    }
}